<mat-toolbar class="navbar" role="navigation" color="black">
  <button mat-button (click)="openMovies()">
    <h1>MyFlix</h1>
  </button>

  <span class="example-spacer"></span>

  <button class="menus" mat-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openMovies()">Home</button>
    <button mat-menu-item (click)="openProfile()">Profile</button>
    <button mat-menu-item (click)="logoutUser()">Logout</button>
  </mat-menu>
</mat-toolbar>
